<footer>
    <div class="footer-container">
        <p>© 2025 Yadud's To-Do |</p>

        <p>Contact us: <a href="mailto:support@yadudtodo.com">support@yadudtodo.com</a> |</p>
            <p>Follow us: 
                <a href="https://twitter.com/YadudTodo" target="_blank">Twitter</a> | 
                <a href="https://facebook.com/YadudTodo" target="_blank">Facebook</a>
            </p>
    </div>
</footer>