<html lang="en">
    <%- include('./Partials/head.ejs')  %>
<body class="error-page">
    <div class="error-container">
        <h1>404</h1>
        <p>Oops! The page you're looking for doesn't exist. 😢</p>
        <a href="/" class="home-button">Go Back Home</a>
    </div>
</body>
</html>